body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
.dashboard-container {
  font-family: sans-serif;
  background-color: #f4f4f4;
  width: 100%;
  display: flex; /* Añadido para permitir que el sidebar y el contenido se muestren lado a lado */
}

.dashboard-sidebar {
  background-color: #141e58; 
  color: #fff;
  width: 240px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1; 
  position: fixed; 
  top: 0; 
  left: 0; 
  height: 100vh; 
}

/* Nuevo estilo para el área de contenido */
.dashboard-content {
  margin-left: 280px; /* Espacio para el sidebar */
  width: calc(100% - 280px); /* Ocupa el resto del espacio disponible */
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-header {
  background-color: #fff;
  color: #4763e4;
  padding: 60px;
  text-align: center;
}
.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-header i {
  margin-right: 10px;
}

.main-menu {
  list-style: none;
  padding: 0;
}

.main-menu-item {
  margin-bottom: 10px;
}

.menu-item-header {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #4256d0; 
  margin-bottom: 10px;
  border-radius: 10px;
}

.menu-item-header i {
  margin-right: 20px;
}

.submenu {
  list-style: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.submenu li {
  padding: 10px;
  font-weight: 100;
  font-size: 18px;
  padding-left: 40px;
}
.submenu li:hover{
  padding: 10px;
  background-color: #4256d0; 
  border-radius: 10px;
  padding-left: 40px;
  cursor: pointer;
}
.imagen-header{
  background-color: #0e1b6b; 
  margin-left: -20px;
  padding: 20px;
  margin-top: -20px;
  margin-right: -20px;
}
.imagen-header img {
  width: 100%; 
  height: 100%;
}
.report-image {
  width: 25px;
  height: 25px;
}