body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

.dashboard-container {
    font-family: sans-serif;
    background-color: #f4f4f4;
    width: 100%; 
  }
  
.dashboard-sidebar {
    background-color: #141e58; 
    color: #fff;
    width: 240px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1; 
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
}

.dashboard-content {
    padding: 20px;
    margin-left: 250px; 
  }

.dashboard-header {
    background-color: #fff;
    color: #4763e4;
    padding: 12px;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.panel-control-header {
  display: flex;
  align-items: center;
}

.panel-control-icon {
  width: 32px; 
  height: 32px; 
  margin-left: 10px; 
  margin-top: 0px;
}

.panel-control-header h2 {
    margin-left: 340px;
    color: #71717a;
    font-size: 24px;
    font-weight: 400;
  }

.panel-control-header h3 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;
}

.header-icon {
    width: 36px;
    height: 36px;
    margin-right: 35px; 
  }

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
  
.sidebar-header i {
    margin-right: 10px;
}
  
.main-menu {
    list-style: none;
    padding: 0;
}
  
.main-menu-item {
    margin-bottom: 10px;
}
  
.menu-item-header {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #4256d0;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: flex-start;
  }

  .menu-icon {
    margin-left: auto;
  }

  .menu-item-header img {
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }

  .menu-item-header span {
    margin: 0;
    padding-right: 10px; 
  }


.menu-item-header i {
    margin-right: 20px;
}
  
.submenu {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
  
.submenu li {
    padding: 10px;
    font-weight: 100;
    font-size: 18px;
    padding-left: 40px;
}

.submenu li:hover{
    padding: 10px;
    background-color: #4256d0; 
    border-radius: 10px;
    padding-left: 40px;
    cursor: pointer;
}

.imagen-header{
    background-color: #0e1b6b; 
    margin-left: -20px;
    padding: 20px;
    margin-top: -20px;
    margin-right: -20px;
}

.imagen-header img {
    width: 100%; 
    height: 100%;
}

.formulario-dashboard {
    background-color: #f4f4f4; 
    padding: 0px;
    height: 1000px;
  }

.formulario-dashboard h1{
    margin-left: 350px;
    font-size: 36px;
}  