.chip-confirmado {
  background-color: #4763e4;
  color: white;
}

.chip-in-wow {
  background-color: #3884f7;
  color: white;
}

.chip-admitido {
  background-color: #10b981;
  color: white;
}

.chip-por-derivar {
  background-color: #f59e0b;
  color: white;
}

.chip-final-entrega {
  background-color: #8b5cf6;
  color: white;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #f0f0f0 !important; /* gris claro */
  color: #888 !important;               /* texto gris */
  border: 1px solid #ccc !important;    /* borde apagado */
  cursor: not-allowed !important;       /* cursor de bloqueado */
  opacity: 1 !important;                /* evitar que se ponga transparente */
}